*{margin: 0; padding: 0;}
body{
    font-size: 62.5%;
}

.app{
    color: #fff;
    font-weight: bolder;
    background-image: url(./images/book.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border: 2px solid #222;
    border-radius: 2rem;
}
.time{
    font-size:clamp(1rem,7vw,10rem);
}
